@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;600;700&display=swap');

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  font-family: 'Assistant', sans-serif;
}

/* CONTAINERS */
.container{
  width: 100%;
  margin: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main{
  margin-top: -70px;
  color: hsl(233, 8%, 62%);
}

/* NAVIGATION BAR */
nav.nav-bar{
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 10px 15px 10px;
  position: fixed;
  top: 0;
  background-color: white;
}
img.hamburger-menu{
  width: 35px;
  height: 18px;
}
img.close-icon{
  display: none;
  position: absolute;
  right: 17px;
  transition: 0.9s;
}
div.top-nav-links{
  width: 85%;
  display: none;
  position: absolute;
  top: 60px;
  right: 27px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  padding-top: 23px;
  transition: 0.9s;
}
li.top-nav{
  font-size: 17px;
  margin-bottom: 23px;
}
a.top-nav{
  text-decoration: none;
  color: rgb(21, 21, 36);
}
div.header-btn-1{
  display: none;
}

/* BACKGROUND IMAGES */
div.bg{
  background-image: url(images/image-mockups.png), url(images/bg-intro-mobile.svg);
  background-size: contain;
  background-repeat: no-repeat, no-repeat;
  background-position: center 10px, center 60px;
  width: auto;
  height: 330px;
  background-color: hsl(0, 0%, 98%);
}

/* HEADER */
header{
  background-color: hsl(0, 0%, 98%);
  text-align: center;
  width: 100%;
  margin: auto;
  padding: 15px;
}
h1.header-text{
  color: black;
  color: hsl(0, 1%, 23%);
  font-weight: 400;
}
p.header-text{
  text-align: center;
  margin: 21.44px auto;
  font-size: 14px;
  color: hsl(0, 2%, 66%);
  letter-spacing: 0.6px;
}
button.header-btn{
  font-size: 15px;
  font-weight: 700;
  color: white;
  padding: 15px 30px;
  margin-top: 20px;
  margin-bottom: 50px;
  border: none;
  border-radius: 40px;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  cursor: pointer;
  transition: 0.9s;
}

/* ASIDE */
aside{
  padding: 50px 20px;
  background-color: hsl(220, 16%, 96%);
}
h2.aside-main-header{
  color: hsl(0, 1%, 23%);
  font-size: 27px;
  font-weight: 400;
  text-align: center;
  margin: auto;
}
p.aside-text{
  text-align: center;
  margin: 21.44px auto;
  font-size: 14px;
  color: hsl(0, 2%, 66%);
  letter-spacing: 0.6px;
}
div.aside-image{
  display: flex;
  justify-content: center;
  align-items: center;
}
h3.aside-header{
  color: hsl(0, 1%, 23%);
  font-weight: 400;
  text-align: center;
}

/* ARTICLE */
article{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: hsl(0, 0%, 98%);
}
h2.article-header-text{
  color: hsl(0, 1%, 23%);
  font-size: 27px;
  font-weight: 400;
  text-align: center;
}
div.article-sub-container{
  background-color: hsl(0, 0%, 98%);  margin-bottom: 20px;
}
div.article-image{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
img.article-image{
  width: 100%;
  height: 150px;
  border-radius: 7px 7px 0 0;
}
div.article-text-container{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  padding: 20px 20px;
  background-color: white;
  border-radius: 0 0 7px 7px;
}
h3.article-header-text{
  color: hsl(0, 1%, 23%);
  font-size: 18px;
  font-weight: 400;
  margin: 0 auto;
}
p.article-main-text{
  font-size: 14px;
  color: hsl(0, 2%, 66%);
  letter-spacing: 0.6px;
}
p.article-footer-text{
  margin-top: 0;
  color: hsl(0, 2%, 66%);
  font-size: 12px;
  letter-spacing: 0.6px;
}

/* FOOTER */
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(233, 26%, 24%);
  color: white;
  padding: 40px 20px;
}
div.social-media{
  margin: 30px auto;
}
img.social-media{
  padding-left: 5px;
  padding-right: 10px;
  transition: 0.9s;
}
a.social-media{
  text-decoration: none;
}
ul{
  list-style: none;
  padding: 0;
  margin-top: 0;
  text-align: center;
}
a.footer-nav{
  text-decoration: none;
  color: hsl(220, 16%, 96%);
}
li.footer-nav{
  margin-bottom: 15px;
}
div.footer-others{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button.header-text{
  font-size: 16px;
  font-weight: 700;
  color: white;
  padding: 15px 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  border: none;
  border-radius: 40px;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  cursor: pointer;
  transition: 0.9s;
}
p.footer-text{
  font-size: 14px;
  color: hsl(0, 2%, 66%);
  text-align: center;
  margin-top: 0;
}
a.footer-a-text{
  text-decoration: none;
  color: aliceblue;
}

/* HOVER STATES */

a.top-nav:hover{
  color: gray;
}
button.header-btn:hover{
  transform: scale(1.05);
  box-shadow: 5px 5px 8px rgb(131, 128, 128), -3px -3px 5px rgb(185, 183, 183);
  transition: 0.5s;
}
button.header-text:hover{
  transform: scale(1.05);
  box-shadow: 5px 8px 5px hsl(234, 31%, 19%), -5px -5px 5px hsl(233, 35%, 36%);
  transition: 0.5s;
}
img.social-media:hover{
  transform: scale(1.3);
  transition: 0.5s;
}
a.footer-a-text:hover, a.footer-nav:hover{
  color: hsl(0, 2%, 66%);
}

/* MEDIA QUERIES */
@media screen and (min-width: 358px){
  div.bg{
    height: 380px;
    background-position: center -3px, center 60px;
  }
  img.article-image{
    height: 180px;
  }
}

@media screen and (min-width: 373px){
  div.top-nav-links{
    width: 90%;
    right: 22px;
    padding-top: 25px;
  }
  li.top-nav{
    font-size: 20px;
    margin-bottom: 25px;
  }
  div.bg{
    height: 400px;
    background-position: center -9px, center 60px;
  }
  header{
    padding: 10px 30px;
  }
  img.article-image{
    height: 180px;
  }
  aside{
    padding: 50px 30px;
  }
}

@media screen and (min-width: 412px){
  div.top-nav-links{
    width: 90%;
    right: 22px;
    padding-top: 30px;
  }
  li.top-nav{
    font-size: 20px;
    margin-bottom: 30px;
  }
  div.bg{
    height: 440px;
    background-position: center -22px, center 50px;
  }
  header{
    padding: 0 40px;
    margin-top: -25px;
  }
  img.article-image{
    height: 180px;
  }
  aside{
    padding: 50px 40px;
  }
}

@media screen and (min-width: 564px){
  .container{
    width: 75%;
  }
  nav.nav-bar{
    width: 73%;
  }
  div.top-nav-links{
    width: 90%;
    right: 25px;
    padding-top: 25px;
  }
  li.top-nav{
    font-size: 20px;
    margin-bottom: 25px;
  }
  div.bg{
    height: 450px;
    background-position: center -98px, center -30px;
  }
  header{
    padding: 0 40px;
  }
  h1.header-text{
    font-size: 35px;
  }
  p.header-text, p.aside-text{
    font-size: 15px;
  }
  h2.aside-main-header{
    font-size: 30px;
  }
  h3.aside-header{
    font-size: 25px;
  }
  div.article-text-container{
    padding: 20px 40px;
  }
  h2.article-header-text{
    font-size: 32px;
  }
  img.article-image{
    height: 200px;
  }
  aside{
    padding: 50px 40px;
  }
}

@media screen and (min-width: 635px){
  .container{
    width: 63%;
  }
  nav.nav-bar{
    width: 60%;
  }
  div.bg{
    height: 450px;
    background-position: center -98px, center -30px;
  }
  header{
    padding: 0 40px;
  }
  h1.header-text{
    font-size: 35px;
  }
  p.header-text, p.aside-text{
    font-size: 15px;
  }
  h2.aside-main-header{
    font-size: 30px;
  }
  h3.aside-header{
    font-size: 25px;
  }
  div.article-text-container{
    padding: 20px 40px;
  }
  h2.article-header-text{
    font-size: 32px;
  }
  img.article-image{
    height: 200px;
  }
  aside{
    padding: 50px 40px;
  }
}

/* @media screen and (min-width: 734px){
  .container{
    width: 63%;
  }
  nav.nav-bar{
    width: 62%;
  }
  div.bg{
    height: 500px;
    background-position: center -113px, center -40px;
  }
  header{
    padding: 0 40px;
  }
  h1.header-text{
    font-size: 35px;
  }
  p.header-text, p.aside-text{
    font-size: 15px;
  }
  h2.aside-main-header{
    font-size: 30px;
  }
  h3.aside-header{
    font-size: 25px;
  }
  div.article-text-container{
    padding: 20px 40px;
  }
  h2.article-header-text{
    font-size: 32px;
  }
  img.article-image{
    height: 200px;
  }
  aside{
    padding: 50px 40px;
  }
} */
